<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Objeto</title>
    <script type="text/javascript"  src="/javascripts/storage/storageManager.js" charset="UTF-8"></script>   
    <script type="text/javascript"  src="/javascripts/collectorManager.js" charset="UTF-8"></script> 
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="/stylesheets/editObject.css">
</head>
<body onload="checkCollector()">
    <header>
        <%- include("navBar")%>
    </header>
    <main>
        <a href="/" onclick="eliminateCollectorName(), eliminateLogin() "><input type="hidden" class="sesion" maxlength="50" id="sesionAllCollector"  readonly></a>
        <div class="container-fluid">
        <div class="container-fluid">
            <section class="row">
                <div class="formulario">
                    <h4>Editar Objeto</h4>
                    <br>
                    <form action="/object/editObject/<%= resultEdit[0].collector_id %>" method="post" enctype="multipart/form-data">
                        <input type="text" name="name" placeholder="Nombre" id="" maxlength="50" value="<%= resultEdit[0].name %>">
                        <br><br>
                        <input type="text" name="description" placeholder="Descripcion" id="" maxlength="50" value="<%= resultEdit[0].description %>">
                        <br><br>
                        <input type="number" name="price" placeholder="Precio" step="0.01" id="" maxlength="50" value="<%= resultEdit[0].price %>">                        
                        <br><br>
                        <input type="file" name="img">
                        <br><br>             
                        <input type="hidden" name="idObject" value="<%=resultEdit[0].object_id%>">                    
                        <button type="submit" class="boton btn">Registrar Objeto</button>
                    </form>
                   
                </div>
                <div class="botones">
                    <a href="/collector/oneCollector/<%= resultEdit[0].collector_id %>" class="btn volver">Volver</a>                
                </div> 



            </section>
        </div>
    </main>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"
    ></script>
    </body>
    </html>